@using uy.federicod.dnsmanager.logic.Models
@model DomainModel
@{
    ViewData["Title"] = "Edit Domain";
}
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your domain</h5>
                </div>
            </div>
        </div>
    </div>
</section>