@using uy.federicod.dnsmanager.logic.Models
@model SearchModel
@{
    ViewData["Title"] = "DNS Manager";
}
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to DNS Manager</h5>
                    <p>
                        Use this system to get free subdomains that you can use
                        to test your web applications and to learn how to
                        manage domain names on the Internet.
                    </p>
                    <p>
                        This service is provided only to students and teacher
                        of Universidad ORT Uruguay and it should be used as a
                        tools provided and supported by your teacher.
                    </p>
                    <p>
                        This system is not provided by Universidad ORT
                        Uruguay and you will not get additional support.
                    </p>
                    <p>
                        To use this service you have to be enrolled in a
                        course promoting and supporting this service.
                    </p>
                    <p><a asp-action="Index" asp-controller="Search">Search your 
                        first domain</a> or 
                        <a asp-action="My" asp-controller="Domain">manage your 
                            current domains.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>







